# Default ignored files
/../../Recommendation_System /.idea/shelf/
/../../Recommendation_System /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Recommendation_System /.idea/httpRequests/
# Datasource local storage ignored files
/../../Recommendation_System /.idea/dataSources/
/../../Recommendation_System /.idea/dataSources.local.xml
